.main {
    width: 100%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .IconAboutUs{
      margin-left: 49%;
      margin-top: 25%;
      margin-bottom: 15%;
  }

  .textAboutUs{
      margin-top: 9%;
      
    
  }

  .paboutus{
      color:rgb(165, 169, 198);
      padding-right: 35%;
  }