.main {
    width: 100%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .IconLegalInfo{
      margin-left: 35%;
      margin-top: 23%;
      margin-bottom: 15%;
  }

  .textLegalInfo{
      margin-top: 9%;
    
  }

  .pLegalInfo{
      color:rgb(165, 169, 198);
      padding-right: 35%;
  }