.main {
    width: 100%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .IconPolicy{
      margin-left: 35%;
      margin-top: 23%;
      margin-bottom: 15%;
  }

  .textPolicy{
      margin-top: 10%;
    
  }

  .pPolicy{
      color:rgb(165, 169, 198);
      padding-right: 35%;
  }