
.icon-cart:before { content: '\e800'; } /* '' */
.icon-checked:before { content: '\e801'; } /* '' */
.icon-hand-bag:before { content: '\e803'; } /* '' */
.icon-jacket:before { content: '\e804'; } /* '' */
.icon-page-1:before { content: '\e805'; } /* '' */
.icon-burger-menu:before { content: '\e808'; } /* '' */
.icon-carpet:before { content: '\e809'; } /* '' */
.icon-close:before { content: '\e80a'; } /* '' */