
.icon-hand-bag:before { content: '\e800'; } /* '' */
.icon-jacket:before { content: '\e801'; } /* '' */
.icon-page-1:before { content: '\e802'; } /* '' */
.icon-carpet:before { content: '\e803'; } /* '' */
.icon-cart:before { content: '\e804'; } /* '' */