.main{
	position:absolute;
	margin-top:1%;
	width:70%;
	height:60%;
	background-color:  #e3e2e3;
	margin-left:auto;
	margin-right:auto;
	left: 0;
	right: 0;
}

.hr1 { 
	height:10%;
	width:70%;
    background-color: #5a5953;  
    border: 0;
    height: 1px;
} 

.hr2 { 
	margin-top:3%;
	width:70%;
    background-color: lightgray;  
    border: 0;
    height: 1px;
} 

.header{
	width:100%;
	position:relative;
	display: flex;
}

.vorodLogin{
	position:relative;
	display:inline;
	width:50%;
	color:#f0107c;
	text-align:left;
	margin-left:3%;
}

.sabtnamLogin{
	position:relative;
	color:#5a5658;
	display:inline;
	width:50%;
}

.vorodHead{
	top:13%;
	position:relative;
	text-align:center;
	color:  #5a5658;
	font-size:12px;
}

.underVorod{
	top:18%;
	font-size:12px;
	position:relative;
	text-align:center;
	color:   #b4b0b2;
}

.vorodColor{
	color:#f0107c  !important;
}

.EnterPhoneNumberLogin{
	position:relative;
	font-family: FontAwesome , IranSans;
	padding:0.5%;
	height: 10%;
	top:35%;
	margin-left:auto;
	margin-right:auto;
	left: 0;
	right: 0;
	width:45%;
	resize: none;
    position: absolute;
	background-color : white;
	border: 1px solid lightgray;
	background-color : white;		
}

.EnterPhoneNumberLogin:focus{
    box-shadow: 0 0 10px #719ECE;
}

.passwordLogin{
	position:relative;
	font-family: FontAwesome , IranSans;
	padding:0.5%;
	height: 10%;
	top:50%;
	margin-left:auto;
	margin-right:auto;
	left: 0;
	right: 0;
	width:45%;
	resize: none;
    position: absolute;
	background-color : white;
	border: 1px solid lightgray;
	background-color : white;		
}

.passwordLogin:focus{
    box-shadow: 0 0 10px #719ECE;
}

.forgetPass{
	position:relative;
	top:58%;
	right:27%;
	font-size:12px;
}

.svgReyhoon{
	position:absolute;
	width:6%;
	right:47.5%;
}

.forgetLink{
	color: #14a6ee  !important;
}

.vorodButton{
	height:10%;
	width:7%;
	right:46%;
	position:relative;
	top:65%;
	border: 2px solid #e82e7a ;
	color: white;
	font-family:IranSans;
	background-color:#f0107c;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 20px;
}

.row1{
	position:absolute;
	margin-top:33%;
	width:20%;
	right:42%;
	position:relative;
	display: flex;
	font-size: 100%;
}

.icon{
  margin-left:7%;
  font-size:3em;
  border-radius: 50%;
  border: solid gray;
  background-color:gray;
  color: white;
  line-height: 2em;
  width: 1.2em;
  height: 1.2em;
  padding:2	%;
  text-align: center;
  display: inline-block;
  transition:0.5s;
}

.hr3 { 
	margin-top:	2%;
	width:70%;
    background-color: lightgray;  
    border: 0;
    height: 1px;
} 

.row2{
	color: #b4b0b2;
	position:absolute;
	margin-top:2%;
	width:60%;
	right:22%;
	position:relative;
	display: flex;
	font-size: 80%;
}

.column1{
	flex:5%;
}

#registerDiv{
	display:none;
}

#registerDiv:hover{
	display:none;
	cursor: pointer;
}

#registerKey:hover{
	cursor: pointer;
}

#loginKey:hover{
	cursor: pointer;
}